h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: 0px;
}
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}