h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    margin: 0px;
}
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    margin-left: 40px;
    max-width: 1100px;
}
.welcome-msg {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#hours {
    margin: 0px;
    padding-left: 15px;
    list-style: none;
}

#storefront-pic {
    display: flex;
    flex-grow: inherit;
    margin: 20px;
    max-width: 95%;
    border: black;
    border-style: solid;
}