/*header bar*/
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    background-color: rgb(12, 12, 12);
    height: 70px;
    padding: 20px;
    position: sticky;
    margin: 0;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.nav-bar-title {
    color: darkred;
    align-self: center;
    font-family: "custom-title";
    font-size: 70px;
    flex-grow: 1;
}
.nav-link {
    color: whitesmoke;
    font-size: larger;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.nav-link:hover {
    color: darkviolet;
}
@font-face {
    font-family: "custom-title";
    src: url("/fonts/GoodUnicornRegular-Rxev.ttf");
}

/*body*/
body {
    background-color: rgba(158, 170, 142, 0.466);
    margin: 0px;
}
.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
